:root {
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
}

img {
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #2c7dfa;
    text-align: center;
}

.container {
    background-color: var(--White);
    max-width: 270px;
    margin: 80px auto 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0px 30px -10px hsl(218, 44%, 22%);
}

.container img {
    border-radius: 10px;
}

.text {
    margin: 20px 5px;
}

.text h1 {
    color: var(--Dark_blue);
    margin: 15px 0;
    font-size: 20px;
}

.text p {
    color: var(--Grayishblue);
    font-size: 15px;
}

.attribution {
    color: #fff;
    font-size: 13px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution span{
    color: #3e52a3;
}
